@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
$Dark-Pink: #ba4270;
$Link-Water_white: #fbfcfe;
$San-Juan_blue: #36536b;
$Mirage-Blue: #1b262f;
$Charm-Pink: #da6d97;
$Light-San-juan-Blue: #6c8294;
$Body-Bg: #edf3f8;

$Sans: "Public Sans";
$Serif: "DM Serif Display";

$Psize: 15px;
$h1Size: 72px;
